<div class="package-view" ng-controller="PackageCtrl as package">
  <div class="row">
    <div class="col-xs-7">
      <legend class="package-title">{{package.info.title}}
        <span><a ng-show="package.user.canEditPackage" class="name edit-package" ui-sref="editPackage({packageName: package.info.title})"><span class="glyphicon glyphicon-pencil" aria-hidden="true"><button>edit</button></span></a></span>
      </legend>
    </div>
    <div class="col-xs-5">
      <span class="package-view-stars" ng-if="package.info.totalStars > 0">
        <stars type="view" max="5" score="package.getRating(package.info)*5"></stars>
      </span>
      <span class="package-view-stars" ng-if="package.info.totalStars === 0">(No Ratings Yet)
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7 package-view-desc">
      <h5>{{package.info.description}}</h5>
    </div>
    <div class="col-xs-5 contact-info">
      <h3 class="package-view-username"> created by:
        <a ui-sref="user({userName: package.user.username})">{{package.user.username}}</a>
      </h3>
      <a class="package-view-email" href="mailto:{{package.user.email}}">
        <p>{{package.user.email}}</p>
      </a>
      <p>{{package.user.website}}</p>
    </div>
  </div>
  <div class="row">
    <div class="command-list col-xs-8">
      <h5 class="command-list-title">Core Commands: </h5>
      <ul>
        <li ng-repeat="command in package.info.packageContents
        track by $index">
          <span>command: {{command}}</span>
          <span>action: {{command[$index]}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div rating score=0 package="package.info" user="package.user"></div>
    <div ng-repeat="review in package.info.reviews track by $index">
      <p>{{review.contents}}<span><stars type="view" max="5" score="review.stars / review.totalStars*5"></stars></span></p>
    </div>
  </div>
  <a href="/api/download/{{package.info._id}}">
    <button type="button" class="btn btn-primary">Download</button>
  </a>
</div>
