<div class="package-view" ng-controller="PackageCtrl as package">
  <div class="row">
    <!-- column one -->
    <div class="col-xs-7">
        <!-- title -->
      <div class="row">
        <legend class="package-title">{{package.info.title}}
          <span><a ng-show="package.user.canEditPackage" class="name edit-package" ui-sref="editPackage({packageName: package.info.title})"><span class="glyphicon glyphicon-pencil" aria-hidden="true"><button>edit</button></span></a></span>
        </legend>
      </div>
      <!-- description -->
      <div class="row">
        <div class="col-xs-8 package-view-desc">
          <h5>{{package.info.description}}</h5>
        </div>
      </div>
      <!-- list of package commands -->
      <div class="row">
        <div class="command-list col-xs-11">
          <h5 class="command-list-title">Core Commands: </h5>
          <ul>
            <li ng-repeat="command in package.info.packageContents
            track by $index">
              <span>command: {{command}}</span>
              <span>action: {{command[$index]}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- column two -->
    <div class="col-xs-5">
      <!-- stars -->
      <div class="row">
        <span class="package-view-stars col-xs-8" ng-if="package.info.totalStars > 0">
          <stars type="view" max="5" score="package.getRating(package.info)*5"></stars>
          <span>({{package.info.reviews.length}})
        </span>
        <span class="package-view-stars" ng-if="package.info.totalStars === 0">(No Ratings Yet)
        </span>
      </div>
      <!-- contact info -->
      <div class="contact-info">
        <div class="row">
          <div class="col-xs-8">
            <!-- owner username -->
            <h5 class="package-view-username"> created by:
              <a ui-sref="user({userName: package.user.username})">{{package.user.username}}</a>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 package-view-links">email:
            <!-- owner email -->
            <a class="package-view-links" href="mailto:{{package.user.email}}">
              {{package.user.email}}
            </a>
          </div>
        </div>
        <div class="row">
          <!-- owner website -->
          <div ng-if="package.user.website" class="col-xs-8">website:
            <a class="package-view-links">
              {{package.user.website}}
            </a>
          </div>
        </div>
        <!-- user reviews -->
        <div class="row">
          <div class="review-container panel panel-default">
            <legend class="panel-heading"><h5 class="panel-title">Reviews</h5></legend>
            <!-- <div class="user-reviews"> -->
              <div ng-repeat="review in package.info.reviews track by $index" class="review">
                  <div class="review-name">
                    <a ui-sref="user({userName: review.username})"><span>{{review.username}}:</span>
                    </a>
                  <span><stars type="view" max="5" score="review.stars / review.totalStars*5"></stars></span>
                  </div>
                <p class="panel-body review-contents" ng-show="review.contents">{{review.contents}}</p>
              </div>
            </div>
          <!-- </div> -->
        </div>
        <div class="row">Submit your review
          <div rating score=0 package="package.info" user="package.user">
          </div>
        </div>
        </div>
      </div>
    <a href="/api/download/{{package.info._id}}">
      <button type="button" class="btn btn-primary">Download</button>
    </a>
  </div>
</div>
