
.form-container {
  position: relative;

  padding: 0 20px 20px 20px;
  transform: translateX(20%);
  margin: 15px;
  background-color: #424242;
  width: 70%;
  height: 550px;
  color: black;
}

.form-container .form-editPackage {
  padding: 20px;
  margin: 15px;
  background-color: white;
  height: 430px;

}

.commands {
  background-color: white;
}

legend {
  font-size: 35px;
  color: white;
}


