@import '../color-palette';
@import '../effects-mixins';
@import '../nav/navbar.styles';
@import '../signup/signup.styles';

@include buttonReset();

div.package-view {
  @extend .form-container;
}

.package-view-stars{
  display: inline-block;
  /*float: right;*/
  height: 20px;
  font-size: 25px;
  stars {
    margin: 0 5px 5px 5px;
    padding-left: 5px;
    a {
      padding: 0;
      margin: 0;
      i.fa {
        padding: 0 2px;
        margin: 0;
        color: $star-color;
      }
    }
  }
}

.package-title {
  color: $primary-font-color;
  font-size: 35px;
  .edit-package {
    font-size: 15px;
  }
}
/*.package-view-desc {
  padding: 0;
  margin: 0;
}*/
.contact-info {
/*  padding: 5px 0 0 0;
  margin-left: 0;*/
  a {
    color: $secondary-font-color;
      &:hover {
        cursor: pointer;
        @include fade-transition();
        color: $primary-font-color;
        text-decoration: none;
      }
  }
  .package-view-username {
    padding: 5px 0 0 5px;
    margin: 10px 0 0 10px;
    display: inline-block;
    font-size: 15px;
  }
  .package-view-links {
    margin: 0 0 0 10px;
    padding: 0 0 0 5px;
    @extend .package-view-username;
  }
}

.btn-primary, .btn-primary:focus {
  @include fade-transition();
  background-color: #264348;
  border-color: $primary-font-color;
}

.btn-primary:hover {
  @include fade-transition();
  background-color: $primary-font-color;
  color: black;
}

.command-list {
  position: relative;
  padding: 10px;
  margin: 15px;
  border: 2px solid $primary-background-color;
  background-color: #264348;
  color: white;
  .command-list-title {
    text-align: center;
  }
}
