/*$star-color: #ff0080;*/
$star-color: red;

$primary-font-color: white;
$secondary-font-color: #8DF2E2;
$third-font-color: #d9d9d9;

$primary-background-color: #141414;
$secondary-background-color: #424242;
$third-background-color: #242827;
$fourth-background-color: #264348;

/*packages*/
$package-color: #0f1a1c;


$border-fade: 1px solid #2e2e2e;
