@import '../color-palette';
@import '../effects-mixins';
@import '../landing/landing.styles';

body {
  height: 100%;
}

legend {
  font-size: 35px;
  color: $primary-font-color;
}


.form-container {
  position: relative;
  color: $primary-font-color;
  /*left: 50%;*/
  /*top: 50%;*/
  /*@extend .package-container;*/
  padding: 0 20px 20px 20px;
  transform: translateX(20%);
  margin: 15px;
  background-color: $secondary-background-color;
  border: $border-fade;
    width: 70%;
  .form-signup {
    color: black;
    padding: 20px;
    margin: 10px;
    background-color: white;
  }
}


fieldset {
  margin: 0;
  width: 100%;
}

